agents/git-committer/n8n_configs/local_coding_agent.json
{
  "id": "ad354389-f835-44c3-a646-901e7aa5eeef",
  "name": "Local Ollama Coding Agent",
  "nodes": [
    {
      "id": "lca-1",
      "name": "Coding Agent Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-1000, 0],
      "parameters": {
        "path": "local-coder",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "local-coder"
    },
    {
      "id": "lca-2",
      "name": "Read Repo State",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [-760, 0],
      "continueOnFail": true,
      "parameters": {
        "command": "sh -c 'REPO=\"/home/cbk/qwen-agent-collective\"\ncd \"$REPO\" || { echo \"REPO not found\"; exit 0; }\nprintf \"=== LATEST REPORT ===\\n\"\nLATEST=$(find reports/local-worker reports/qwen-worker -name \"*.md\" 2>/dev/null | sort | tail -1)\n[ -n \"$LATEST\" ] && cat \"$LATEST\" || echo \"No reports yet.\"\nprintf \"\\n=== FILE TREE ===\\n\"\nfind . -type f \\( -name \"*.py\" -o -name \"Makefile\" \\) ! -path \"./venv/*\" ! -path \"./.git/*\" ! -path \"./reports/*\" | sort | head -50\nprintf \"\\n=== GIT LOG ===\\n\"\ngit log --oneline -8\nprintf \"\\n=== GIT STATUS ===\\n\"\ngit status --short'"
      }
    },
    {
      "id": "lca-3",
      "name": "Read Source Files",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [-520, 0],
      "continueOnFail": true,
      "parameters": {
        "command": "sh -c 'REPO=\"/home/cbk/qwen-agent-collective\"\ncd \"$REPO\" || exit 0\nfor f in $(find . -type f -name \"*.py\" ! -path \"./venv/*\" ! -path \"./.git/*\" | sort | head -15); do\nprintf \"\\n### %s ###\\n\" \"$f\"\nhead -80 \"$f\"\ndone'"
      }
    },
    {
      "id": "lca-4",
      "name": "Build Coding Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-280, 0],
      "parameters": {
        "jsCode": "var fences = '```';\nvar repoState = $('Read Repo State').item.json.stdout || 'no repo state';\nvar sourceFiles = $('Read Source Files').item.json.stdout || 'no source files';\nvar model = $env.OLLAMA_CODE_MODEL || $env.OLLAMA_CHAT_MODEL || 'nemotron-3-nano:latest';\nvar system = 'You are local-coder, an autonomous coding agent for the qwen-agent-collective repository.\\n\\n'\n  + 'Task: implement ONE small, concrete improvement from the Recommended Next Work Slice in the latest report.\\n\\n'\n  + 'OUTPUT FORMAT: respond with ONLY a POSIX sh script fenced in ' + fences + 'sh ... ' + fences + '.\\n'\n  + 'Rules:\\n'\n  + '- Script runs as: cd /home/cbk/qwen-agent-collective && sh script.sh\\n'\n  + '- POSIX sh only (no bash arrays, no [[ ]], no bashisms)\\n'\n  + '- Allowed: cat, printf, mkdir -p, cp, mv\\n'\n  + '- FORBIDDEN: rm, git push, git reset, git commit, pip install, apt-get, curl, wget\\n'\n  + '- Max 1-3 file changes, no deletions\\n'\n  + '- If nothing safe to do: ' + fences + 'sh\\n# no-op\\n' + fences;\nvar user = '=== REPO STATE & LATEST REPORT ===\\n'\n  + repoState.slice(0, 7000)\n  + '\\n\\n=== SOURCE FILES ===\\n'\n  + sourceFiles.slice(0, 5000)\n  + '\\n\\nImplement the Recommended Next Work Slice. Output ONLY the sh script.';\nreturn [{ json: { model: model, messages: [{ role: 'system', content: system }, { role: 'user', content: user }] } }];"
      }
    },
    {
      "id": "lca-5",
      "name": "Ask Ollama to Code",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-40, 0],
      "continueOnFail": true,
      "parameters": {
        "method": "POST",
        "url": "http://172.20.0.1:11434/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer ollama" },
            { "name": "Content-Type",  "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { model: $json.model, messages: $json.messages, temperature: 0.1, max_tokens: 1200, stream: false } }}",
        "options": { "timeout": 300000 }
      }
    },
    {
      "id": "lca-6",
      "name": "Parse And Safety Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [200, 0],
      "parameters": {
        "jsCode": "var raw = ($input.first().json.choices || [])[0];\nraw = raw ? raw.message.content : '';\nvar match = raw.match(/```(?:sh|bash|shell)?\\n?([\\s\\S]*?)```/);\nvar script = match ? match[1].trim() : raw.trim();\nif (!script || /^#\\s*no.?op\\s*$/im.test(script)) {\n  return [{ json: { script: '', script_b64: '', safe: true, noop: true, reason: 'no-op', raw: raw } }];\n}\nvar blocked = ['rm -rf', 'rm -r', ' rm ', 'git push', 'git reset', 'git commit', 'apt-get', 'pip install', '> /etc/', '> /usr/', '> /bin/', ':(){', 'mkfs'];\nvar hit = '';\nfor (var i = 0; i < blocked.length; i++) {\n  if (script.indexOf(blocked[i]) !== -1) { hit = blocked[i]; break; }\n}\nif (hit) {\n  return [{ json: { script: '', script_b64: '', safe: false, noop: true, reason: 'blocked: ' + hit, raw: raw } }];\n}\nif (script.indexOf('/home/') !== -1 && script.indexOf('/home/cbk/qwen-agent-collective') === -1) {\n  return [{ json: { script: '', script_b64: '', safe: false, noop: true, reason: 'path outside repo', raw: raw } }];\n}\nvar script_b64 = Buffer.from(script, 'utf8').toString('base64');\nreturn [{ json: { script: script, script_b64: script_b64, safe: true, noop: false, reason: 'ok', raw: raw } }];"
      }
    },
    {
      "id": "lca-7",
      "name": "IF Runnable",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [440, 0],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "leftValue": "={{ String($json.noop) }}",
              "rightValue": "false",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "lca-8",
      "name": "Execute Script",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [680, -140],
      "continueOnFail": true,
      "parameters": {
        "command": "=sh -c 'printf \"%s\" \"{{$json.script_b64}}\" | base64 -d > /tmp/local-coder.sh && cd /home/cbk/qwen-agent-collective && sh /tmp/local-coder.sh'"
      }
    },
    {
      "id": "lca-9",
      "name": "Git Stage And Diff",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [920, -140],
      "continueOnFail": true,
      "parameters": {
        "command": "sh -c 'cd /home/cbk/qwen-agent-collective && git add -u && git diff --staged --stat && printf \"\\n\" && git diff --staged'"
      }
    },
    {
      "id": "lca-10",
      "name": "IF Has Changes",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1160, -140],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "leftValue": "={{ ($json.stdout || '').trim() }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEquals" }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "lca-11",
      "name": "Ask Ollama Commit Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1400, -260],
      "continueOnFail": true,
      "parameters": {
        "method": "POST",
        "url": "http://172.20.0.1:11434/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer ollama" },
            { "name": "Content-Type",  "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { model: ($env.OLLAMA_CHAT_MODEL || 'nemotron-3-nano:latest'), messages: [{ role: 'system', content: 'Write a git commit message: one line under 72 chars, imperative mood. Respond with ONLY the message, no quotes, no explanation.' }, { role: 'user', content: 'Git diff:\\n' + String($json.stdout || '').slice(0, 3000) }], temperature: 0, max_tokens: 80, stream: false } }}",
        "options": { "timeout": 120000 }
      }
    },
    {
      "id": "lca-12",
      "name": "Encode Commit Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1640, -260],
      "parameters": {
        "jsCode": "var raw = ($input.first().json.choices || [])[0];\nraw = raw ? raw.message.content : 'chore: automated improvement by local-coding-agent';\nvar firstLine = raw.trim().split('\\n')[0].slice(0, 72);\nvar msg = firstLine + '\\n\\nCo-authored-by: local-coding-agent <n8n@local>';\nvar msg_b64 = Buffer.from(msg, 'utf8').toString('base64');\nreturn [{ json: { msg_b64: msg_b64, commit_message: firstLine } }];"
      }
    },
    {
      "id": "lca-13",
      "name": "Git Commit",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1880, -260],
      "continueOnFail": true,
      "parameters": {
        "command": "=sh -c 'cd /home/cbk/qwen-agent-collective && printf \"%s\" \"{{$json.msg_b64}}\" | base64 -d > /tmp/local-commit-msg.txt && git commit -F /tmp/local-commit-msg.txt'"
      }
    },
    {
      "id": "lca-14",
      "name": "No Changes Made",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1640, -20],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { result: 'no_changes', message: 'Script ran but produced no staged diff.' } }}",
        "options": { "responseCode": 200 }
      }
    },
    {
      "id": "lca-15",
      "name": "Skipped",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [680, 140],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { result: $json.safe ? 'no_op' : 'blocked', reason: $json.reason || 'Model returned no-op' } }}",
        "options": { "responseCode": 200 }
      }
    },
    {
      "id": "lca-16",
      "name": "Return Result",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2120, -260],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { result: 'committed', commit_message: $json.commit_message, stdout: $json.stdout || '' } }}",
        "options": { "responseCode": 200 }
      }
    }
  ],
  "connections": {
    "Coding Agent Trigger":  { "main": [[{ "node": "Read Repo State",          "type": "main", "index": 0 }]] },
    "Read Repo State":       { "main": [[{ "node": "Read Source Files",         "type": "main", "index": 0 }]] },
    "Read Source Files":     { "main": [[{ "node": "Build Coding Prompt",       "type": "main", "index": 0 }]] },
    "Build Coding Prompt":   { "main": [[{ "node": "Ask Ollama to Code",        "type": "main", "index": 0 }]] },
    "Ask Ollama to Code":    { "main": [[{ "node": "Parse And Safety Check",    "type": "main", "index": 0 }]] },
    "Parse And Safety Check":{ "main": [[{ "node": "IF Runnable",               "type": "main", "index": 0 }]] },
    "IF Runnable": {
      "main": [
        [{ "node": "Execute Script", "type": "main", "index": 0 }],
        [{ "node": "Skipped",        "type": "main", "index": 0 }]
      ]
    },
    "Execute Script":        { "main": [[{ "node": "Git Stage And Diff",        "type": "main", "index": 0 }]] },
    "Git Stage And Diff":    { "main": [[{ "node": "IF Has Changes",            "type": "main", "index": 0 }]] },
    "IF Has Changes": {
      "main": [
        [{ "node": "Ask Ollama Commit Message", "type": "main", "index": 0 }],
        [{ "node": "No Changes Made",           "type": "main", "index": 0 }]
      ]
    },
    "Ask Ollama Commit Message": { "main": [[{ "node": "Encode Commit Message", "type": "main", "index": 0 }]] },
    "Encode Commit Message":     { "main": [[{ "node": "Git Commit",            "type": "main", "index": 0 }]] },
    "Git Commit":                { "main": [[{ "node": "Return Result",         "type": "main", "index": 0 }]] }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "timezone": "Europe/London"
  },
  "active": false,
  "tags": [
    { "name": "qwen-agent-collective" },
    { "name": "local-ollama" },
    { "name": "coding-agent" }
  ]
}
