agents/git-committer/n8n_configs/local_reviewer_5min.json
{
  "id": "0c34ccc2-ab93-433c-83ba-4f280be86422",
  "name": "Local Ollama Reviewer - 5 Minute Loop",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "minutes", "minutesInterval": 5 }]
        }
      },
      "id": "lr-1",
      "name": "Every 5 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-740, 0]
    },
    {
      "parameters": {
        "command": "sh -c 'set -u\nREPO=\"${REPO_PATH:-}\"\nprintf \"# Repo Context\\n\"\nprintf \"generated_at: %s\\n\" \"$(date -u +%Y-%m-%dT%H:%M:%SZ)\"\nif [ -z \"$REPO\" ]; then printf \"\\n## Preflight\\nFAIL: REPO_PATH not set.\\n\"; exit 0; fi\ncd \"$REPO\" || { printf \"FAIL: repo not found\\n\"; exit 0; }\nprintf \"branch: \"; git branch --show-current || true\nprintf \"\\n## Git Status\\n\"; git status --short --branch || true\nprintf \"\\n## Recent Work, Last 5 Minutes\\n\"\ngit log --since=\"5 minutes ago\" --pretty=format:\"%h %ad %s\" --date=iso || true\nprintf \"\\n\\n## Recent Work, Today\\n\"\ngit log --since=\"midnight\" --pretty=format:\"%h %ad %s\" --date=iso || true\nprintf \"\\n\\n## Diff Stat\\n\"; git diff --stat || true\nprintf \"\\n## Lightweight Security Scan\\n\"\nSECURITY_HITS=\"$(git ls-files | xargs grep -nE \"(API_KEY=sk-|OPENAI_API_KEY=|ANTHROPIC_API_KEY=|AWS_SECRET_ACCESS_KEY=)\" 2>/dev/null || true)\"\nif [ -z \"$SECURITY_HITS\" ]; then echo \"PASS: no secret patterns found\"; else printf \"%s\\n\" \"$SECURITY_HITS\" | sed -E \"s/(=)[^[:space:]]+/=REDACTED/g\" | head -n 20; fi'"
      },
      "id": "lr-2",
      "name": "Collect Repo Context",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [-500, 0],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const context = ($input.first().json.stdout || '').slice(-8000);\nconst now = new Date().toISOString();\nconst model = $env.OLLAMA_CHAT_MODEL || 'nemotron-3-nano:latest';\nconst system = 'You are a local autonomous review agent for qwen-agent-collective.\\n\\nReview the repo context and produce a concise report. Do not claim to have changed files.\\n\\nReturn Markdown with exactly these sections:\\n# Local Worker Report\\n## Verdict\\nPASS, WARN, or FAIL with one sentence.\\n## What Changed Recently\\nBullets grounded only in the context.\\n## Repo Health\\nTests/config/docs/security observations.\\n## Recommended Next Work Slice\\nOne small task that an autonomous worker can safely attempt next.\\n## Risks Or Blockers\\nConcrete blockers or uncertain facts.';\nconst user = 'Time: ' + now + '\\n\\nRepo context:\\n\\n' + (context || 'No repo context captured.');\nreturn [{ json: { model, now, messages: [{ role: 'system', content: system }, { role: 'user', content: user }] } }];"
      },
      "id": "lr-3",
      "name": "Build Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-260, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.20.0.1:11434/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer ollama" },
            { "name": "Content-Type",  "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { model: $json.model, messages: $json.messages, temperature: 0.2, max_tokens: 800, stream: false } }}",
        "options": { "timeout": 180000 }
      },
      "id": "lr-4",
      "name": "Ask Ollama For Review",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-20, 0],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst now = new Date();\nconst iso = now.toISOString();\nconst stamp = iso.replace(/[:.]/g, '-');\nconst date = iso.slice(0, 10);\nlet content = item.choices && item.choices[0] ? item.choices[0].message.content : null;\nlet verdict = 'WARN';\nif (!content) {\n  content = '# Local Worker Report\\n\\n## Verdict\\nFAIL: Ollama did not return a completion.\\n\\n## Raw Error\\n\\n```json\\n' + JSON.stringify(item, null, 2).slice(0, 3000) + '\\n```';\n} else if (/\\bPASS\\b/.test(content.slice(0, 250))) {\n  verdict = 'PASS';\n}\nconst report = '<!-- generated by: Local Ollama Reviewer - 5 Minute Loop -->\\n<!-- generated_at: ' + iso + ' -->\\n\\n' + content.trim() + '\\n';\nconst reportPath = 'reports/local-worker/' + date + '/' + stamp + '.md';\nreturn [{ json: { report, report_base64: Buffer.from(report, 'utf8').toString('base64'), report_path: reportPath, generated_at: iso, verdict } }];"
      },
      "id": "lr-5",
      "name": "Normalize Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "command": "=sh -c 'set -eu\nREPO=\"${REPO_PATH:-}\"\nif [ -z \"$REPO\" ]; then echo \"REPO_PATH is not set\" >&2; exit 1; fi\ncd \"$REPO\"\nmkdir -p \"$(dirname \"{{$json.report_path}}\")\"\nprintf %s \"{{$json.report_base64}}\" | base64 -d > \"{{$json.report_path}}\"\nprintf \"Wrote %s\\n\" \"{{$json.report_path}}\"\n'"
      },
      "id": "lr-6",
      "name": "Write Report",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [460, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/local-coder",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { triggered_by: 'local-reviewer', report_path: $json.report_path, verdict: $json.verdict } }}",
        "options": { "timeout": 600000 }
      },
      "id": "lr-7",
      "name": "Trigger Local Coder",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [700, 0],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { ok: true, report_path: $node['Normalize Report'].json.report_path, verdict: $node['Normalize Report'].json.verdict, coding_agent: $input.first().json || {} } }];"
      },
      "id": "lr-8",
      "name": "Return Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [940, 0]
    }
  ],
  "connections": {
    "Every 5 Minutes":        { "main": [[{ "node": "Collect Repo Context",    "type": "main", "index": 0 }]] },
    "Collect Repo Context":   { "main": [[{ "node": "Build Prompt",            "type": "main", "index": 0 }]] },
    "Build Prompt":           { "main": [[{ "node": "Ask Ollama For Review",   "type": "main", "index": 0 }]] },
    "Ask Ollama For Review":  { "main": [[{ "node": "Normalize Report",        "type": "main", "index": 0 }]] },
    "Normalize Report":       { "main": [[{ "node": "Write Report",            "type": "main", "index": 0 }]] },
    "Write Report":           { "main": [[{ "node": "Trigger Local Coder",     "type": "main", "index": 0 }]] },
    "Trigger Local Coder":    { "main": [[{ "node": "Return Summary",          "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1", "saveManualExecutions": true, "timezone": "Europe/London" },
  "active": false,
  "tags": [{ "name": "qwen-agent-collective" }, { "name": "local-ollama" }, { "name": "automation" }]
}
