agents/git-committer/n8n_configs/nightly_health.json
{
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 2 * * *"
            }
          ]
        }
      },
      "id": "f8a1b2c3-d4e5-4f6g-h7i8-j9k0l1m2n3o4",
      "name": "Nightly Trigger (02:00)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [400, 300]
    },
    {
      "parameters": {
        "command": "cd /home/cbk/qwen-agent-collective && python3 shared/repo_health.py"
      },
      "id": "a1b2c3d4-e5f6-7g8h-9i0j-k1l2m3n4o5p6",
      "name": "Run Repo Health Check",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [620, 300]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.exitCode }}",
              "operation": "equal",
              "value2": 0
            }
          ]
        }
      },
      "id": "b2c3d4e5-f6g7-8h9i-0j1k-l2m3n4o5p6q7",
      "name": "Check Health Status",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [840, 300]
    },
    {
      "parameters": {
        "content": "### ✅ Nightly Health Check Passed\nRepo is clean and blog post generated."
      },
      "id": "c3d4e5f6-g7h8-9i0j-k1k2-m3n4o5p6q7r8",
      "name": "Success Notification",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1060, 200]
    },
    {
      "parameters": {
        "content": "### 🚨 NIGHTLY HEALTH ALERT\nRepo health check failed! Check the output logs for details."
      },
      "id": "d4e5f6g7-h8i9-0j1k-l2m3-n4o5p6q7r8s9",
      "name": "Failure Notification",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1060, 400]
    }
  ],
  "connections": {
    "Nightly Trigger (02:00)": {
      "main": [
        [
          {
            "node": "Run Repo Health Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Repo Health Check": {
      "main": [
        [
          {
            "node": "Check Health Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Health Status": {
      "main": [
        [
          {
            "node": "Success Notification",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Failure Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
